

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: #ffd700;
 }

 .navigation {
    background-color: black;
    color: #ffd700;
 }

 .inline-block {
     display: inline-block;
     vertical-align: center;
     text-align: right;
 }

 .logo {
    width: 23%;
    padding: 1%;
    text-align: left;
    display: inline;
 }

li {
     text-decoration: none;
     padding: 3%;
 }

 nav {
     width: 73%;
     padding: 1%;
 }

 ul {
     width: 50%;
     margin-left: auto;
     display: inline-block;
 }

 .heroImg {
     height: 600px;
     padding: 25px;
     display: inline-block;

 }

 .content {
     width: 500px;
     margin: 0 auto;
 }

 footer {
    background-color: black;
    color: #ffd700;
    text-align: left;
    display: block;
    margin-top: 1%;
 }


 .flexContainer {
     display: flex;
     margin: 20px;
     padding: 20px;
     flex-direction:row;
     text-align: center;
     align-items: center;
     justify-content: center;
     width: 33% 33% 33%;
 }

 .uxSkills {
    text-align: center;
 }

 .workTitle {
     text-align: center;

 }

 .workGrid {
     display: grid;
     grid-template-columns: 50% 50%;
     grid-template-rows: 350px 350px 350px;
     grid-template-areas: 
     "image1 project1"
     "image2 project2"
     "image3 project3";
 }

.image1 {
    grid-area: image1;
}

.image2 {
    grid-area: image2;
}

.image3 {
    grid-area: image3;
}


 .project1 {
     grid-area: project1;
     font-size: 22px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .project2 {
     grid-area: project2;
 }
 .project3 {
     grid-area: project3;
 }
 @media only screen and (max-width: 800){
     .flexContainer {
         flex-direction: column;
         width: 100%
         
     }
     .workGrid {
        margin: 0px 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: project1 project2 project3;
    }
     }
 