body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: #ffd700;
 }

 .navigation {
    background-color: black;
    color: #ffd700;
 }

 .inline-block {
     display: inline-block;
     vertical-align: center;
     text-align: right;
 }

 .logo {
    width: 23%;
    padding: 1%;
    text-align: left;
    display: inline;
 }

li {
     text-decoration: none;
     padding: 3%;
 }

 nav {
     width: 73%;
     padding: 1%;
 }

 ul {
     width: 50%;
     margin-left: auto;
     display: inline-block;
 }

 .heroImg {
     height: 600px;
     padding: 25px;
     display: inline-block;
 }

 .content {
     width: 500px;
     margin: 0 auto;
 }

 footer {
    background-color: black;
    color: #ffd700;
    text-align: left;
    display: block;
    margin-top: 1%;
 }